.menu{
    width: 100vw;
    height: 50px;
    background-color: white;
}

main{
    min-height: 100vh;
    height: 100%;
    background-color: var(--main);
}

.side-bar{
    min-width: 19vw;
    width: 19vw;
    background-color: white;
}

.side-bar .side-container{
    padding: 1.5rem 0rem 1.5rem 2rem;
    position: sticky;
    top: 0;
}

.side-bar .logo{
    display: flex;
    color: var(--main);
    margin-bottom: 2.5rem;
}

.side-bar ul{
    list-style: none;
    padding-inline-start: 0;
}

.side-bar ul li{
    color: var(--d-grey);
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: .9rem;
    height: 2.7rem;
    opacity: .5;
    cursor: pointer;
}
.side-bar ul li .icon{
    height: 1.3rem;
    margin-right: 1rem;
    opacity: .7;
}

.side-bar ul li.active{
    border-right: 3px solid var(--main);
    opacity: 1;
    font-weight: 600;
}

.content{
    background-color: var(--l-grey);
    flex-grow: 1;
    padding: 0rem 2.5rem 1.5rem 2.5rem;
}

.content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--l-grey);
    position: sticky;
    top: 0;
    z-index: 10;
}

.content .header .title h1{
    margin: 0;
    color: var(--black);
    font-size: 1.5rem;
}

.content .header .title p{
    margin-top: .2rem;
    margin-bottom: 0;
    color: var(--black);
    font-size: .8rem
}

.content .header .title .day{
    font-weight: 700;
    color: var(--main);
}

.content .header .title .date{
    font-weight: 600;
    color: var(--d-grey);
}

.content .profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content .profile .name{
    margin-left: .5rem;
    font-size: .9rem;
    font-weight: 600;
}

.content .profile .picture{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main);
    border-radius: 2rem;
}

.content .profile .picture img{
    width: 100%;
    border-radius: 2rem;
}

.content .profile .arrow-down{
    width: 10px;
    height: auto;
    margin-left: .5rem;
}

.content .greeting{
    margin-top: 4rem;
    width: 100%;
    height: 12rem;
    background-color: var(--purple);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    position: relative;
}

.greeting .texts{
    padding: 1rem 3rem;
    box-sizing: border-box;
    width: calc(100% - 27rem);
    color: var(--l-grey);
}

.greeting .texts h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.greeting .texts p{
    margin-top: 0;
}

.greeting .image{
    position: absolute;
    bottom: -2rem;
    right: 0;
    margin-right: 1.5rem;
}

.greeting .image img{
    width: 25.5rem;
}

.greeting .dismiss{
    font-size: 1.5rem;
    opacity: .7;
    margin: 1rem;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.greeting .dismiss:hover{
    opacity: 1;
    transition: all ease-in .5s;
}

.actions{
    margin-top: 3rem;
    color: var(--black);
}

.actions .action{
    min-width: 9rem;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    background-color: var(--main);
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--l-grey);
    display: flex;
    align-items: center;
}

.actions .action:hover{
    transform: translateY(-3px);
    filter: drop-shadow(0px 5px 7px rgb(148, 148, 148));
    transition: all ease-out .2s;
}

.actions .action .icon-holder{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: var(--l-grey);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.actions .action .action-text{
    display: flex;
}

.transactions{
    margin-top: 3rem;
}

.transactions table{
    border-collapse: separate;
    border-spacing: 0 .5rem;
}

.transactions tr:first-child{
    background: none;
}

.transactions td{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.transactions td:first-child{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.transactions td:last-child{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}