

.content .greeting{
    margin-top: 4rem;
    width: 100%;
    height: 12rem;
    background-color: var(--purple);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    position: relative;
}

.greeting .texts{
    padding: 1rem 3rem;
    box-sizing: border-box;
    width: calc(100% - 27rem);
    color: var(--l-grey);
}

.greeting .texts h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.greeting .texts p{
    margin-top: 0;
}

.greeting .image{
    position: absolute;
    bottom: -2rem;
    right: 0;
    margin-right: 1.5rem;
}

.greeting .image img{
    width: 25.5rem;
}

.greeting .dismiss{
    font-size: 1.5rem;
    opacity: .7;
    margin: 1rem;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.greeting .dismiss:hover{
    opacity: 1;
    transition: all ease-in .5s;
}

.actions{
    margin-top: 3rem;
    color: var(--black);

    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    width: fit-content;
}

.actions h2{
    margin-top: 0;
}

.actions .action{
    min-width: 9rem;
    height: auto;
    display: inline-block;
    margin-right: 20px;
    background-color: var(--main);
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--l-grey);
    display: flex;
    align-items: center;
}

.actions .action:hover{
    transform: translateY(-3px);
    /* filter: drop-shadow(0px 5px 7px rgb(148, 148, 148)); */
    transition: all ease-out .2s;
}

.actions .action .icon-holder{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: var(--l-grey);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.actions .action .action-text{
    display: flex;
}

.transactions{
    margin-top: 3rem;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.transactions h2{
    margin-top: 0;
    margin-bottom: 0;
}

.transactions .table-holder{
    max-height: 400px;
    overflow-y: scroll;
}

.transactions .table-holder::-webkit-scrollbar{
    width: .4rem;
}
  
.transactions .table-holder::-webkit-scrollbar-track {
    background: none;
}
  
.transactions .table-holder:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.transactions .table-holder::-webkit-scrollbar-thumb {
    background: none
}

.transactions .table-holder:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.transactions .table-holder::-webkit-scrollbar-thumb:hover {
    background: none;
}

.transactions .table-holder:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.transactions table{
    border-collapse: separate;
    border-spacing: 0 .5rem;
    width: 100%;
    font-size: .9rem;
}

.transactions th,td{
    border-bottom: 1px solid var(--l-grey);
}

.transactions th{
    padding: 1rem;
    text-align: left;
    color: var(--d-grey);
    cursor: pointer;
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

.transactions td{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.transactions th .text{
    position: relative;
}

.transactions th .text::before{
    content :'';
    background-image: url(../assets/icons/sort.svg);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    bottom: 2px;
    transform: rotate(180deg);
}

.transactions th .text::after{
    content :'';
    background-image: url(../assets/icons/sort.svg);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    top: 2px;
}

.transactions th .text::after,th .text::before{
    position: absolute;
    right: -1rem;
    line-height: 1;
}

.transactions th.asc .text::before{
    display: none;
}

.transactions th.asc .text::after{
    top: 30%;
}

.transactions th.desc .text::after{
    display: none;
}

.transactions th.desc .text::before{
    bottom: 25%;
}



.transactions td .kebab{
    content: url(../assets/icons/kebab.png);
    width: .9rem;
    cursor: pointer;
    opacity: .7;
    position: relative;
}