.menu{
    width: 100vw;
    height: 50px;
    background-color: white;
}

main{
    min-height: 100vh;
    height: 100%;
    background-color: var(--main);
}

.side-bar{
    width: 19vw;
    background-color: white;
    padding: 1.5rem 0rem 1.5rem 2rem;
    box-sizing: border-box;
}

.side-bar .logo{
    display: flex;
    color: var(--main);
    margin-bottom: 2.5rem;
}

.side-bar ul{
    list-style: none;
    padding-inline-start: 0;
}

.side-bar ul li{
    color: var(--d-grey);
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: .9rem;
    height: 2.7rem;
    opacity: .5;
    cursor: pointer;
}
.side-bar ul li .icon{
    height: 1.3rem;
    margin-right: 1rem;
    opacity: .7;
}

.side-bar ul li.active{
    border-right: 3px solid var(--main);
    opacity: 1;
    font-weight: 600;
}

.content{
    background-color: var(--l-grey);
    flex-grow: 1;
    padding: 1.5rem 2.5rem;
}

.content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.content .header .title h1{
    margin: 0;
    color: var(--black);
    font-size: 1.5rem;
}

.content .header .title p{
    margin-top: .2rem;
    margin-bottom: 0;
    color: var(--black);
    font-size: .8rem
}

.content .header .title .day{
    font-weight: 700;
    color: var(--main);
}

.content .header .title .date{
    font-weight: 600;
    color: var(--grey);
}

.content .profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content .profile .name{
    margin-left: .5rem;
    font-size: .9rem;
    font-weight: 600;
}

.content .profile .picture{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main);
    border-radius: 2rem;
}

.content .profile .picture img{
    width: 100%;
    border-radius: 2rem;
}

.content .profile .arrow-down{
    width: 10px;
    height: auto;
    margin-left: .5rem;
}