
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--l-grey);
    position: sticky;
    top: 0;
    z-index: 10;

    margin: -5px;
}

.header .title h1{
    margin: 0;
    color: var(--black);
    font-size: 1.5rem;
}

.header .title p{
    margin-top: .2rem;
    margin-bottom: 0;
    color: var(--black);
    font-size: .8rem
}

.header .title .day{
    font-weight: 700;
    color: var(--main);
}

.header .title .date{
    font-weight: 600;
    color: var(--d-grey);
}

.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.profile .name{
    margin-left: .5rem;
    font-size: .9rem;
    font-weight: 600;
}

.profile .picture{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main);
    border-radius: .5rem;
}

.profile .picture img{
    width: 100%;
    border-radius: .5rem;
}

.profile .arrow-down{
    width: 10px;
    height: auto;
    margin-left: .5rem;
}

.dropdown::before{
    content: '';
    display: block;
    background-color: white;
    width: 12px;
    height: 12px;
    top: -.4rem;
    position: absolute;
    right: .7rem;

    transform: rotate(45deg);
}

.dropdown{
    position: absolute;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
    bottom: -5rem;
    right:-10px;
    min-width: 6rem;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
    z-index: 100;
}

.dropdown .item{
    font-weight: 700;
    font-size: .8rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    cursor: pointer;
}

.dropdown .item:last-child{
    border: none;
}