.login-container{
    min-height: 100vh;
    height: 100%;
}

.login-image{
    padding: 1.5rem 2rem;
    color: white;
    background-color: var(--main);
    display: flex;
    flex-flow: column;
}

.login-image .sign-up{
    display: flex;
    flex-grow: .70;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.login-image .sign-up h2{
    font-size: 2.25rem;
    line-height: 1;
}

.login-image .sign-up p{
    font-size: 1.25rem;
    line-height: 1.5;
}

.login-image button{
    width: 15rem;
    background-color: white;
    padding: 1rem;
    color: var(--black);
    font-size: .9rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 1rem auto;
    font-weight: 600;
}

.login-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.login-content .content{
    display: flex;
    flex-flow: column;
}

.login-content .login-input{
    display: block;
    background-color: var(--l-grey);
    border: none;
    border-radius: 50px;
    margin-bottom: 1.5rem;
    outline: none;
    padding: .90rem 2rem;
    font-weight: 600;
    color: var(--d-grey);
    width: 100%;
    box-sizing: border-box;
}

.login-content .login-input:focus{
    transition: background-color .5s ease-in;
    background-color: white;
    border: 1px solid var(--grey);
}

.login-content h1{
    font-size: 2.5rem;
    line-height: 1;
    color: var(--black);
    margin: .5rem 0;
}

.login-content p{
    color: var(--d-grey);
    margin-bottom: 2rem;
    display: flex;
    align-self: flex-start;
}

.login-content button{
    width: 15rem;
    background-color: var(--main);
    padding: 1.2rem;
    color: white;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    margin: 1rem auto;
    font-weight: 600;
}

.login-content button:hover{
    transition: all .5s ease-in;
    filter: brightness(110%);
}

.sign-up-content{
    width: 80%;
}

/* Responsive */
@media only screen and (max-width: 767px ){
    .login-image{
        display: none;
    }
}