@import url(../styles/flexboxgrid.css);
@import url(../styles/normalize.css);
@import url(../styles/variables.css);
@import url(../styles/custom-table.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


html{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

/* Components */
button{
    outline: none;
    border: none;
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem;
    line-height: 1;
    cursor: pointer;
    border-radius: .8rem;
    min-width: 10rem;
    min-height: 2.8rem;
    box-sizing: border-box;
}

.btn-primary{
    background: var(--main);
    color: white;
}

.btn-gray{
    background: var(--l-grey);
    color: var(--d-grey);
}

button.no-width{
    min-width: 0;
    min-height: 0;
}

button:hover{
    filter: brightness(95%);
    transition: all ease-out .2s;
}

.input-primary{
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    outline: none;
    font-size: 1rem;
    background-color: var(--l-grey);
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.input-primary:focus{
    border: 1px solid var(--grey);
    background: white;
    transition: all ease-out .4s;
}

.input-primary.error{
    border: 1px solid var(--red);
}

label{
    display: block;
    color: var(--d-grey);
    font-size: .8rem;
    margin-bottom: .5em;
}

main{
    min-height: 100vh;
    height: 100%;
}

.content{
    background-color: var(--l-grey);
    flex-grow: 1;
    padding: 0rem 4rem 1.5rem;
}

.container-shadow{
    filter: drop-shadow(0px 2px 2px rgb(220, 220, 220));
}

.white-container{
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.upload-container{
    width: 100%;
    min-height: 15rem;
    border-radius: 1rem;
    border-color: #cccccc;
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.upload-container b{
    color: var(--black);
    cursor: pointer;
}

.upload-attachment{
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    /* border-color: #cccccc;
    border-style: solid;
    border-width: 1px; */
}

.upload-attachment .file-name{
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    cursor: pointer;
}

.upload-attachment .file-name label{
    font-weight: 300;
    font-size: .6rem;
}

.upload-attachment::before{
    content: url(../icons/icon-file.svg);
    margin-right: .5rem;
}

.upload-attachment.view-only::after{
    content: none;
}

.upload-attachment::after{
    content: url(../icons/icon-close-file.png);
    margin-left: auto;
    opacity: .5;
    transform: scale(.7);
    cursor: pointer;
}


/* Modal */
.modal-background{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.modal-holder{
    width: 100%;
    border-radius: 1rem;
    position: relative;
}

.modal-holder .close-modal{
    font-size: 1.5rem;
    opacity: .7;
    margin: 1rem;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.modal-holder .close-modal:hover{
    opacity: 1;
    transition: all ease-in .5s;
}

/* Alert message */
.alert-message-holder{
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    position: fixed;
}

.alert{
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem .2rem;
    width: 20rem;
    border-left: 3px solid;
    display: flex;
    align-items: center;
}

.alert::before{
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .5rem;
    color: white;
    margin-left: .5rem;
    margin-right: 1rem;
}

.alert.error{
    border-color: var(--error);
}

.alert.error::before{
    content: '✕';
    background-color: var(--error);
}

.alert.success{
    border-color: var(--success);
}

.alert.success::before{
    content: '✔';
    background-color: var(--success);
}

.alert p{
    margin: 0;
}

.alert .message .first-line{
    font-weight: 600;
}

.alert .message .second-line{
    font-size: .9rem;
    color: var(--grey);
}

.close-alert{
    content: url(../icons/icon-close-file.png);
    margin-left: auto;
    transform: scale(.7);
    opacity: .6;
    cursor: pointer;
}

/* Scrollable container */

.scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: .5rem;
}

.scrollable::-webkit-scrollbar{
    width: .4rem;
}
  
.scrollable::-webkit-scrollbar-track {
    background: none;
}
  
.scrollable:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
    background: none
}

.scrollable:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: none;
}

.scrollable:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}